<a routerLink="/">Home</a>&nbsp;&nbsp;
<a *ngIf="!userVisible" routerLink="/login">Login</a><a *ngIf="!userVisible">&nbsp;&nbsp;</a>
<a *ngIf="userVisible" routerLink="/login">Logout</a><a *ngIf="userVisible">&nbsp;&nbsp;</a>
<a *ngIf="userVisible" routerLink="/favorite">Favorites</a><a *ngIf="userVisible">&nbsp;&nbsp;</a>
<div *ngIf="userVisible">Signed in as <b>{{_User.username}}</b></div>

<!-- NOTE: debug variables -->
<!--
<br />
APP DEBUG<br />
userVisible:{{userVisible}}<br />
_User.username:{{_User.username}}<br />
_User.first_name:{{_User.first_name}}<br />
-->

<router-outlet></router-outlet>
<br />

<!-- NOTE: THIS DIV SHOULD BE ALIGNED TO THE BOTTOM OF THE PAGE -->
<div>
    <!--
    <a routerLink="/contact">Contact</a>&nbsp;&nbsp;
    <a routerLink="/api">API</a>&nbsp;&nbsp;
    <a routerLink="/about">About</a>&nbsp;&nbsp;
    -->
    <p>
    NeighborShare, Inc. is a registered 501(c)(3) non-profit organization. EIN: 85-0811667<br />
    © 2022 Reddit inc. All rights reserved.<br />
    © 2022 MarketStack, an apilayer product. All rights reserved.
    </p>
</div>